# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# IntelliJ
*.iml
.idea

# Version control
vcs.xml

# OS X
.DS_Store

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
JustTrackSDK/JustTrackSDK.xcodeproj/xcshareddata/xcschemes/
JustTrackSDK/JustTrackSDK.xcodeproj/project.pbxproj
Adapters/**/*.xcscheme

# CocoaPods
Pods
*.xcworkspace
# Codegraph index
.codegraph/
.kiro/
